<%= form_with model: @user do |form| %>
  <div class="container">
    <h2 class="text-center"> <%= t(:add_user) %> </h2>
    <div class="row">  
      <div class="col-4">
        <%= form.label "#{t(:name)}" %>
        <%= form.text_field :name, class: "form-control" %>
        <%= custom_error(@user, :name) %><br>
      </div>
    </div><br/>

    <div class="row">  
      <div class="col-4">
        <%= form.label "#{t(:email)}" %>
        <%= form.email_field :email, class: "form-control" %><br>
        <%= custom_error(@user, :email) %><br>
      </div>
    </div><br/>

    <div class="row">  
      <div class="col-4">
        <%= form.label "#{t(:contact)}" %>
        <%= form.text_field :contact, class: "form-control" %> <br>
        <%= custom_error(@user, :contact) %><br>
      </div>
    </div><br/>

    <div class="row">  
      <div class="col-4">
        <%= form.label "#{t(:age)}" %>
        <%= form.number_field :age, class: "form-control" %> <br>
        <%= custom_error(@user, :age) %><br>
      </div>
    </div><br/>

    <div>
      <%= form.submit "#{t(:insert)}", class: "btn btn-primary" %>
    </div>

  </div>
<% end %>