<%= form_with model: @user do |form| %>
  <div class="container">
    <h2 class="text-center"> Add User </h2>
    <div class="row">  
      <div class="col-4">
        <%= form.label 'Name' %>
        <%= form.text_field :name, class: "form-control" %>
        <%= custom_error(@user, :name) %><br>
      </div>
    </div><br/>

    <div class="row">  
      <div class="col-4">
        <%= form.label 'Email' %>
        <%= form.email_field :email, class: "form-control" %><br>
        <%= custom_error(@user, :email) %><br>
      </div>
    </div><br/>

    <div class="row">  
      <div class="col-4">
        <%= form.label 'contact' %>
        <%= form.text_field :contact, class: "form-control" %> <br>
        <%= custom_error(@user, :contact) %><br>
      </div>
    </div><br/>

    <div class="row">  
      <div class="col-4">
        <%= form.label 'age' %>
        <%= form.number_field :age, class: "form-control" %> <br>
        <%= custom_error(@user, :age) %><br>
      </div>
    </div><br/>

    <div>
      <%= form.submit "Insert data", class: "btn btn-primary" %>
    </div>

  </div>
<% end %>